
body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#header {
    background-color: #3498db;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

#search {
    padding: 10px;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

input[type="text"] {
    padding: 8px;
    width: 80%;
}

input[type="button"] {
    padding: 8px;
    cursor: pointer;
}

#music-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.music-box {
    background-color: #2c3e50;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    width: 90%;
    font-size: 15px;
    text-align: center;
}

#player {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: #34495e;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

#progress-bar {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

#scroll-buttons,
#play-buttons {
    position: fixed;
    top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
}
#play-buttons {
    top: 120px;
}

.scroll-button,
.play-button {
    margin-bottom: 10px;
    padding: 8px;
    cursor: pointer;
}

.scroll-button {
    background-color: #f39c12;
}

.play-button {
    background-color: #2ecc71;
    /* margin-top: 100px; */
}


.xfjwEi34_IOdsfmZ {
    background-color: rgb(161, 36, 76);
    color: white; /* 设置文字颜色为白色，以确保可读性 */
    /* 可以添加其他样式，例如边框、圆角等 */
}




#song-name {
    white-space: nowrap;
    /* overflow: hidden; */
    text-overflow: scroll;
    /* 调整滚动速度和持续时间 */
    animation: marquee 20s linear infinite;
    /* text-overflow: ellipsis; */
    line-height: 1.5em;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}