
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/media/resourcemedia/css/indexpage.css">
    <script src="/media/resourcemedia/js/indexpage.js"></script>
    <title>格林剧团</title>
</head>
<body>
    <h1>格林剧团</h1>
    <br/>

    <div class="search-container">
        <input type="text" id="search-input" placeholder="输入关键词">
        <button id="search-button" onclick="search()">搜索</button>
    </div>
    <br/>
    <button id="scroll-up-btn" onclick="scrollPage(-0.2)">向上滑动</button>
    <button id="scroll-down-btn" onclick="scrollPage(0.2)">向下滑动</button>

    
    <div class="box" onclick="window.open('/media/resourcemedia/webpage/example/index.html')">
        <img src="/media/resourcemedia/img/default.png" alt="Image 1">
        <p>example</p>
    </div>


    <div class="box" onclick="window.open('/media/resourcemedia/webpage/一些漫画/index.html')">
        <img src="/media/resourcemedia/img/default.png" alt="Image 1">
        <p>一些漫画</p>
    </div>


    <div class="box" onclick="window.open('/media/resourcemedia/webpage/暗杀教室/index.html')">
        <img src="/media/resourcemedia/img/default.png" alt="Image 1">
        <p>暗杀教室</p>
    </div>


    <div class="box" onclick="window.open('/media/resourcemedia/webpage/英雄联盟/index.html')">
        <img src="/media/resourcemedia/content/英雄联盟/_image_preview.jpg" alt="Image 1">
        <p>英雄联盟</p>
    </div>



</body>
</html>

